{% extends 'app/layout.html' %}

{% block content %}
<div class="card">
  <h5 class="card-header">{{ post.title }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ post.pub_date }}  </h5>
    <p class="card-text">Departure: <b>{{ post.departure }}</b> <br>
       Arrival: <b>{{ post.arrival }}</b>
       Available seat: {{ post.passengers_nb }}
       <br><br>
       <b>Contact info:</b><br>
       Usename: {{ post.user.username }}<br>
       E-mail: {{ post.user.email }}
       <br><br>
       Other Info: <br>

       Animal: {% if preference.animal %} Authorized {% else %} Unauthorized {% endif %} |
       Big suitcase: {% if preference.big_suitcase %} Authorized {% else %} Unauthorized {% endif %} |
       Cigarette: {% if preference.cigarette %} Authorized {% else %} Unauthorized {% endif %}
    </p>

    {% if user.is_authenticated %}
        {% if user.id != post.user.id and not is_reserved %}
            <a href="#" class="btn btn-primary" href="{% url 'post_reserve' id=post.id %}" onclick="return confirm('Are you sure?')">Make a reservation</a>
        {% endif %}
    {% else %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Sign in to make a reservation</a>
    {% endif %}
  </div>
</div>
{% endblock %}
