<!-- <table class="table">
'''
  <thead>
    <tr>
      <th scope="col">$</th>
      <th scope="col">Available seat</th>
      <th scope="col">Animal</th>
      <th scope="col">Big suitcase</th>
      <th scope="col">Cigarette</th>
      <th scope="col">Discussion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10</th>
      <td>{{ post.passengers_nb }}</td>
      <td>{{% if preference.animal %}} Authorized {{% else %}} Unauthorized {{% endif %}}</td>
      <td>{{% if preference.big_suitcase %}} Authorized {{% else %}} Unauthorized {{% endif %}}</td>
      <td>{{% if preference.cigarette %}} Authorized {{% else %}} Unauthorized {{% endif %}}</td>
      <td>{{% if preference.discussion %}} Authorized {{% else %}} Unauthorized {{% endif %}}</td>
    </tr>
  </tbody>
  '''
</table> -->
